@media screen and (min-width: 852px) {
    #card {
        width: 80vw !important;
    }
}

@media screen and (max-width: 851px) {
    #selecao-moedas {
        flex-direction: column ;
    }
    #selecao-moedas > div{
        width: 100% !important;
        padding: 10px;
    }
}